build/
devel/
result*
*.egg-info
*.pyc
.catkin_workspace
log
.vscode/
procman/bot2-procman/lcmtypes/c/*
procman/bot2-procman/lcmtypes/cpp/*
procman/bot2-procman/pod-build/*
procman/bot2-procman/python/src/bot_procman/build_prefix.py
.ipynb_checkpoints/
*.pkl
bags/*/
__pycache__
events.*
*.pth